.button {
	font: inherit;
	border: 1px solid #293241;
	border-radius: 3px;
	background: #293241;
	color: white;
	padding: 0.25rem 1rem;
	cursor: pointer;
}

.button:hover,
.button:active {
	background: #3d5a80;
	border-color: #3d5a80;
}

.button:focus {
	outline: none;
}
